<% layout("./layouts/boilerplate.ejs") %>
<div class="bar">
  <form
    id="filters-form"
    action="/listings/filter"
    method="get"
    enctype="application/x-www-form-urlencoded"
  >
    <div class="filter">
      <input type="radio" id="castles" name="category" value="castles" <%
      if(category === 'castles') { %>checked<% } %>
      onchange="this.form.submit()" />
      <label for="castles">
        <div><i class="fa-brands fa-fort-awesome"></i></div>
        <p>Castles</p>
      </label>
    </div>
    <div class="filter">
      <input type="radio" id="amazing-pools" name="category"
      value="amazing-pools" <% if(category === 'amazing-pools') { %> checked <%
      } %> onchange="this.form.submit()" />
      <label for="amazing-pools">
        <div><i class="fa-solid fa-water-ladder"></i></div>
        <p>Amazing pools</p>
      </label>
    </div>
    <div class="filter">
      <input type="radio" id="beachfront" name="category" value="beachfront" <%
      if(category === 'beachfront') { %>checked<% } %>
      onchange="this.form.submit()" />
      <label for="beachfront">
        <div><i class="fa-solid fa-umbrella-beach"></i></div>
        <p>Beachfront</p>
      </label>
    </div>
    <div class="filter">
      <input type="radio" id="golfing" name="category" value="golfing" <%
      if(category === 'golfing') { %>checked<% } %>
      onchange="this.form.submit()" />
      <label for="golfing">
        <div><i class="fa-solid fa-golf-ball-tee"></i></div>
        <p>Golfing</p>
      </label>
    </div>
    <div class="filter">
      <input type="radio" id="trending" name="category" value="trending" <%
      if(category === 'trending') { %>checked<% } %>
      onchange="this.form.submit()" />
      <label for="trending">
        <div><i class="fa-solid fa-fire"></i></div>
        <p>Trending</p>
      </label>
    </div>
    <div class="filter">
      <input type="radio" id="lake" name="category" value="lake" <% if(category
      === 'lake') { %>checked<% } %> onchange="this.form.submit()" />
      <label for="lake">
        <div><i class="fa-solid fa-water"></i></div>
        <p>Lake</p>
      </label>
    </div>
    <div class="filter">
      <input type="radio" id="boats" name="category" value="boats" <%
      if(category === 'boats') { %>checked<% } %> onchange="this.form.submit()"
      />
      <label for="boats">
        <div><i class="fa-solid fa-sailboat"></i></div>
        <p>Boats</p>
      </label>
    </div>
    <div class="filter">
      <input type="radio" id="rooms" name="category" value="rooms" <%
      if(category === 'rooms') { %>checked<% } %> onchange="this.form.submit()"
      />
      <label for="rooms">
        <div><i class="fa-solid fa-bed"></i></div>
        <p>Rooms</p>
      </label>
    </div>
    <div class="filter">
      <input type="radio" id="arctic" name="category" value="arctic" <%
      if(category === 'arctic') { %>checked<% } %> onchange="this.form.submit()"
      />
      <label for="arctic">
        <div><i class="fa-solid fa-snowflake"></i></div>
        <p>Arctic</p>
      </label>
    </div>
    <div class="filter">
      <input type="radio" id="new" name="category" value="new" <% if(category
      === 'new') { %>checked<% } %> onchange="this.form.submit()" />
      <label for="new">
        <div><i class="fa-solid fa-key"></i></div>
        <p>New</p>
      </label>
    </div>
    <div class="filter">
      <input type="radio" id="treehouse" name="category" value="treehouse" <%
      if(category === 'treehouse') { %>checked<% } %>
      onchange="this.form.submit()" />
      <label for="treehouse">
        <div><i class="fa-solid fa-house-fire"></i></div>
        <p>Treehouse</p>
      </label>
    </div>
    <div class="filter">
      <input type="radio" id="farms" name="category" value="farms" <%
      if(category === 'farms') { %>checked<% } %> onchange="this.form.submit()"
      />
      <label for="farms">
        <div><i class="fa-solid fa-tractor"></i></div>
        <p>Farms</p>
      </label>
    </div>
    <div class="filter">
      <input type="radio" id="mountains" name="category" value="mountains" <%
      if(category === 'mountains') { %>checked<% } %>
      onchange="this.form.submit()" />
      <label for="mountains">
        <div><i class="fa-solid fa-mountain-sun"></i></div>
        <p>Mountains</p>
      </label>
    </div>
    <div class="filter">
      <input type="radio" id="ski" name="category" value="ski" <% if(category
      === 'ski') { %>checked<% } %> onchange="this.form.submit()" />
      <label for="ski">
        <div><i class="fa-solid fa-person-skiing"></i></div>
        <p>Ski-in/out</p>
      </label>
    </div>
    <div class="filter">
      <input type="radio" id="towers" name="category" value="towers" <%
      if(category === 'towers') { %>checked<% } %> onchange="this.form.submit()"
      />
      <label for="towers">
        <div><i class="fa-solid fa-tower-observation"></i></div>
        <p>Towers</p>
      </label>
    </div>
    <div class="filter">
      <input type="radio" id="camping" name="category" value="camping" <%
      if(category === 'camping') { %>checked<% } %>
      onchange="this.form.submit()" />
      <label for="camping">
        <div><i class="fa-solid fa-campground"></i></div>
        <p>Camping</p>
      </label>
    </div>
  </form>
  <div class="tax-toggler">
    <div class="form-check form-check-reverse form-switch">
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="switch"
      />
      <label class="form-check-label" for="switch">Display taxes </label>
    </div>
  </div>
</div>
<div
  class="row row-cols-xl-4 row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-cols-1"
>
  <% for(let listing of filterListings){ %>
  <a href="/listings/<%= listing._id %>" class="listing-link">
    <div class="card col listing-card">
      <img
        src="<%= listing.image.url %>"
        class="card-img-top"
        alt="listing-image"
        style="height: 20rem"
      />
      <div class="card-img-overlay"></div>
      <div class="card-body">
        <p class="card-text">
          <b><%= listing.title %></b> <br />
          &#8377; <%= listing.price.toLocaleString("en-IN") %>/night
          <i class="tax-info">&nbsp;+18% GST</i>
        </p>
      </div>
    </div>
  </a>
  <% } %>
</div>
